.card__img {
    @media (max-width: 576px) {
        & {
            max-width: 100%;
        }
    }
}

.card__about {

    @media (max-width: 576px){
        & {
            min-width: 80%;
        }
    }


    @media (max-width: 430px){
        & {
            min-width: 95%;
        }
    }
}