@import "variables";

div.col {
    p {
        margin-bottom: 0;
    }
}

.footer {
    background-color: $color-principal;

    a {
        text-decoration: none;
    
        &:link {
            color: $fuente-suave;
        }
    
        &:active {
            color: $fuente-suave;
        }
    
        &:visited {
            color: $fuente-suave;
        }
    }
}