@import "variables";


a {
    text-decoration: none;

    &:visited {
        color: $fuente-suave;
    }
}

div.col {
    p {
        margin-bottom: 0;
    }
}

.footer {
    background-color: $color-principal;
}