@import "variables";

.hero {
    background-color: $color-principal;
    margin: 0;
    height: 70vh;
    max-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // img de fondo
    background: linear-gradient(
    to top,
    rgb(0 0 0 / .8), rgb(0 0 0 / 0)
    ), url(../img/minimalista.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (max-width: 400px) {
        & {
            max-height: 10rem;
        }
    }


    h1 {
        color: $fuente-suave;
    }

    p {
        color: $fuente-suave;
    }
}