/* Formulario */

#form-img {
  background-color: rgba(83, 40, 194, 80%);
}

/* Links Footer */

div a:visited {
  color: white;
}

div a:hover {
  color: #0dcaf0;
}

div a {
  transition: color 0.4s linear;
}
